/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */
body {
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
  display: flex;
  /* flex-direction: column; */
  width: 80vw;
  min-width: 12em;
  max-width: 100rem;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 15px;
  margin: 2em;
  padding: 1em;

  && li {
    list-style: none;
  }

  && img {
    /* width: 10em; */
  }
}