/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
  display: flex;
  /* flex-direction: column; */
  width: 80vw;
  min-width: 12em;
  max-width: 100rem;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 15px;
  margin: 2em;
  padding: 1em;
}

.detail li {
  list-style: none;
}

.detail img {
  width: 200px;
}
